# Exploratory Data Analysis
### 02/17/2020
### Group 6: Lukas Hering, Tommy Luangrath, Ian Luck, Andrea Simenstad

# Overview

<img src="used-car.jpg">

In this project, we are presented with some data and a business problem. Our goal is to provide a solution to our business problem while using the spark framework.


#### The Dataset

The dataset that we are provided with is the "Used Cars Database" scraped from Ebay Kleinanzeigen in Germany. The dataset contains a collection of over 370,000 used cars with a list of fields. The fields for our dataset include dateCrawled, name of the care, sellect, model of the car, kilometers the car has driven etc.

#### Business Problem


Our business problem is to predict how much a used car should be valued at, given relavent information such as the name of the car, the type of seller, offer type, how many kilometers the car has driven, etc. 

#### Main Objective

The main objective for this project, is to build an efficient and effective model that is able to predict the sale price of a used vehicle. With our model, we will able to provide eBay or other car dealerships an efficient algorithm to predict the price a used car should be sold at in order to maximize the profit and to minimize time spent evaluating the price of a vehicle.

To achieve our main objective, we will be creating an ensemble model consisting multiple types of linnear regression models includeing Lasso regression, ridge regression and elastic net regression and tree based alagorithms. 

### Data Profiling

#### Data Quality
The nrOfPictures field can be dropped due to data quality issues (see notes from Kaggle website).
- The field notRepairedDamage is likely to be dropped. Currently, the field contains the values null, ja, and nein. It is not clear if null represents that the user skipped the field or if there has never been any damage to the car.
    - nein has 263390 entries
    - null has 72123 entries
    - ja has 36310 entries

#### Distributions and Dependencies
- There are outliers for the price field.

#### Feature engineering
- How balanced is our dataset?
    - The price field definitely has outliers, including 0 and 2147483647.

- Data Normalization
    - Date fields can be normalized. For example, the difference between dateCreated and lastSeenOnline.
    - The string values for the fields gearBox and fuelType can be transformed from strings to a corresponding binary.

#### Feature Selection
Currently selected features:
- price
- yearOfRegistration
- Difference between dateCreated and lastSeenOnline
- gearBox (as a standardized integer)
- fuelType (as a standardized integer)
- kilometers

# Exploratory Data Analysis

In [70]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import isnan, when, count, col

spark = SparkSession.builder.master("local[*]").appName("Learning_Spark").getOrCreate()

First, we're going to load our data in our csv file into a spark dataframe in order to used our data with Spark.

In [71]:
data = spark.read.csv('autos.csv',inferSchema=True, header=True)

Now, we'll look at the shape of our dataframe to how many features and how much data we have.

In [72]:
print("Number of entries: " + str(data.count()))
print("Number of features: " + str(len(data.columns)))

Number of entries: 371824
Number of features: 20

Now we can print a few portions of our dataset to get an indication of what our data contains.

In [73]:
data.show(3)

+-------------------+--------------------+------+---------+-----+------+-----------+------------------+---------+-------+-----+---------+-------------------+--------+----------+-----------------+-------------------+------------+----------+-------------------+
|        dateCrawled|                name|seller|offerType|price|abtest|vehicleType|yearOfRegistration|  gearbox|powerPS|model|kilometer|monthOfRegistration|fuelType|     brand|notRepairedDamage|        dateCreated|nrOfPictures|postalCode|           lastSeen|
+-------------------+--------------------+------+---------+-----+------+-----------+------------------+---------+-------+-----+---------+-------------------+--------+----------+-----------------+-------------------+------------+----------+-------------------+
|2016-03-24 11:52:17|          Golf_3_1.6|privat|  Angebot|  480|  test|       null|              1993|  manuell|      0| golf|   150000|                  0|  benzin|volkswagen|             null|2016-03-24 00:00:00|           0|     70435|2016-04-07 03:16:57|
|2016-03-24 10:58:45|A5_Sportback_2.7_Tdi|privat|  Angebot|18300|  test|      coupe|              2011|  manuell|    190| null|   125000|                  5|  diesel|      audi|               ja|2016-03-24 00:00:00|           0|     66954|2016-04-07 01:46:50|
|2016-03-14 12:52:21|Jeep_Grand_Cherok...|privat|  Angebot| 9800|  test|        suv|              2004|automatik|    163|grand|   125000|                  8|  diesel|      jeep|             null|2016-03-14 00:00:00|           0|     90480|2016-04-05 12:47:46|
+-------------------+--------------------+------+---------+-----+------+-----------+------------------+---------+-------+-----+---------+-------------------+--------+----------+-----------------+-------------------+------------+----------+-------------------+
only showing top 3 rows

In [74]:
data.printSchema()

root
 |-- dateCrawled: timestamp (nullable = true)
 |-- name: string (nullable = true)
 |-- seller: string (nullable = true)
 |-- offerType: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- abtest: string (nullable = true)
 |-- vehicleType: string (nullable = true)
 |-- yearOfRegistration: integer (nullable = true)
 |-- gearbox: string (nullable = true)
 |-- powerPS: integer (nullable = true)
 |-- model: string (nullable = true)
 |-- kilometer: integer (nullable = true)
 |-- monthOfRegistration: integer (nullable = true)
 |-- fuelType: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- notRepairedDamage: string (nullable = true)
 |-- dateCreated: timestamp (nullable = true)
 |-- nrOfPictures: integer (nullable = true)
 |-- postalCode: integer (nullable = true)
 |-- lastSeen: timestamp (nullable = true)

In [75]:
data.select("name","dateCreated","lastSeen","price").show(15, truncate=False)

+-----------------------------------------------------------------+-------------------+-------------------+-----+
|name                                                             |dateCreated        |lastSeen           |price|
+-----------------------------------------------------------------+-------------------+-------------------+-----+
|Golf_3_1.6                                                       |2016-03-24 00:00:00|2016-04-07 03:16:57|480  |
|A5_Sportback_2.7_Tdi                                             |2016-03-24 00:00:00|2016-04-07 01:46:50|18300|
|Jeep_Grand_Cherokee_"Overland"                                   |2016-03-14 00:00:00|2016-04-05 12:47:46|9800 |
|GOLF_4_1_4__3Tï¿½RER                                               |2016-03-17 00:00:00|2016-03-17 17:40:17|1500 |
|Skoda_Fabia_1.4_TDI_PD_Classic                                   |2016-03-31 00:00:00|2016-04-06 10:17:21|3600 |
|BMW_316i___e36_Limousine___Bastlerfahrzeug__Export               |2016-04-04 00:00:00|2016-04-06 19:17:07|650  |
|Peugeot_206_CC_110_Platinum                                      |2016-04-01 00:00:00|2016-04-05 18:18:39|2200 |
|VW_Derby_Bj_80__Scheunenfund                                     |2016-03-21 00:00:00|2016-03-25 16:47:58|0    |
|Ford_C___Max_Titanium_1_0_L_EcoBoost                             |2016-04-04 00:00:00|2016-04-04 23:42:13|14500|
|VW_Golf_4_5_tuerig_zu_verkaufen_mit_Anhaengerkupplung            |2016-03-17 00:00:00|2016-03-31 17:17:06|999  |
|Mazda_3_1.6_Sport                                                |2016-03-26 00:00:00|2016-04-06 10:45:34|2000 |
|Volkswagen_Passat_Variant_2.0_TDI_Comfortline                    |2016-04-07 00:00:00|2016-04-07 10:25:17|2799 |
|VW_Passat_Facelift_35i__"7Sitzer"                                |2016-03-15 00:00:00|2016-04-01 13:16:16|999  |
|VW_PASSAT_1.9_TDI_131_PS_LEDER                                   |2016-03-21 00:00:00|2016-03-23 02:50:54|2500 |
|Nissan_Navara_2.5DPF_SE4x4_Klima_Sitzheizg_Bluetooth.Doppelkabine|2016-03-21 00:00:00|2016-04-06 07:45:42|17999|
+-----------------------------------------------------------------+-------------------+-------------------+-----+
only showing top 15 rows

In [76]:
data.describe(["price","kilometer"]).show()

+-------+------------------+------------------+
|summary|             price|         kilometer|
+-------+------------------+------------------+
|  count|            371823|            371823|
|   mean|17286.338865535483|125618.56044408226|
| stddev|3586530.1840677853|40111.620164944536|
|    min|                 0|              5000|
|    max|        2147483647|            150000|
+-------+------------------+------------------+

In [77]:
data.describe(["offerType"]).show()

+-------+---------+
|summary|offerType|
+-------+---------+
|  count|   371823|
|   mean|     null|
| stddev|     null|
|    min|  Angebot|
|    max|   Gesuch|
+-------+---------+

In [78]:
group_by_gearbox = data.groupby('gearbox')
group_by_brand = data.groupby('brand')
group_by_notRepairedDamage = data.groupby('notRepairedDamage')

In [79]:
group_by_gearbox.agg({'price': 'avg'}).show()

+---------+------------------+
|  gearbox|        avg(price)|
+---------+------------------+
|     null|43990.346585570886|
|automatik|15145.544156332206|
|  manuell|15920.486752589904|
+---------+------------------+

In [80]:
group_by_brand.agg({'price': 'avg'}).show()

+-------------+------------------+
|        brand|        avg(price)|
+-------------+------------------+
|       jaguar|14228.083735909822|
|     daihatsu|1691.6815365551424|
|   mitsubishi|3274.6647078028077|
|         null|              null|
|         lada|3037.4444444444443|
|       toyota| 5235.104468085106|
|         seat| 4356.156703672075|
|         saab| 3808.686090225564|
|   land_rover|16698.858625162127|
|      peugeot| 3168.667391698387|
|     chrysler| 3912.255158184319|
|      citroen| 8875.202082529888|
|         audi| 15863.35696264097|
|mercedes_benz|17244.502687715725|
|          bmw|14838.656460137465|
|         jeep|11998.898514851486|
|       lancia| 3165.754132231405|
|        skoda| 6413.099698955198|
|        rover| 1508.022448979592|
|      hyundai| 5417.859139490271|
+-------------+------------------+
only showing top 20 rows

In [81]:
group_by_brand.agg({'price': 'count'}).show()

+-------------+------------+
|        brand|count(price)|
+-------------+------------+
|       jaguar|         621|
|     daihatsu|         807|
|   mitsubishi|        3063|
|         null|           0|
|         lada|         225|
|       toyota|        4700|
|         seat|        7026|
|         saab|         532|
|   land_rover|         771|
|      peugeot|       11034|
|     chrysler|        1454|
|      citroen|        5186|
|         audi|       32897|
|mercedes_benz|       35346|
|          bmw|       40301|
|         jeep|         808|
|       lancia|         484|
|        skoda|        5647|
|        rover|         490|
|      hyundai|        3649|
+-------------+------------+
only showing top 20 rows

In [82]:
group_by_notRepairedDamage.agg({'price': 'avg'}).show()

+-----------------+-----------------+
|notRepairedDamage|       avg(price)|
+-----------------+-----------------+
|             nein|9128.952507688218|
|             null| 22760.0665252416|
|               ja|65586.87130267144|
+-----------------+-----------------+

Here we see that many of our fields are Strings so we will need to convert some of these fields into more presentable formats.

In [83]:
for col in data.columns:
    print(col, "number of null: \n", data.filter(data[col].isNull()).count())

dateCrawled number of null:
 0
name number of null:
 0
seller number of null:
 1
offerType number of null:
 1
price number of null:
 1
abtest number of null:
 1
vehicleType number of null:
 37900
yearOfRegistration number of null:
 1
gearbox number of null:
 20224
powerPS number of null:
 1
model number of null:
 20499
kilometer number of null:
 1
monthOfRegistration number of null:
 1
fuelType number of null:
 33416
brand number of null:
 1
notRepairedDamage number of null:
 72124
dateCreated number of null:
 1
nrOfPictures number of null:
 1
postalCode number of null:
 1
lastSeen number of null:
 1

As we can see, we have quite a few null values. Now we will have to drop these null values.

In [84]:
#Remove nulls
data = data.na.drop()

#Drop Unnecessary fields
drop_fields = ['dateCrawled', 'name', 'abtest']

#Drop nulls
data = data.drop(*drop_fields)
data = data.filter(data["gearbox"] != 'null')

#Keep data in a specific range
data = data.filter(data["yearOfRegistration"] > 1944)
data = data.filter(data["yearOfRegistration"] < 2018)
data = data.filter(data["powerPS"] > 99)
data = data.filter(data["powerPS"] < 501)
data = data.filter(data["price"] > 99)
data = data.filter(data["price"] < 400000)

In [89]:
from pyspark.sql.functions import col, when

data.groupBy('gearbox').count().show()

data = data.withColumn("gearbox_num", when(col("gearbox")=="automatik", 0).when(col("gearbox")=='manuell', 1).otherwise(-1))

data.select("gearbox_num","gearbox").show(5, truncate=False)

+---------+------+
|  gearbox| count|
+---------+------+
|automatik| 51855|
|  manuell|116915|
+---------+------+

+-----------+-------+
|gearbox_num|gearbox|
+-----------+-------+
|1          |manuell|
|1          |manuell|
|1          |manuell|
|1          |manuell|
|1          |manuell|
+-----------+-------+
only showing top 5 rows

In [26]:
# Filter bad data
data = data[
    (data["yearOfRegistration"].between(1945, 2017, inclusive=True)) & #Remove invalid registration
    (data["powerPS"].between(100, 500, inclusive=True)) & #Filter power
    (data["price"].between(100, 200000, inclusive=True)) & #Filter price
    (data["offerType"] == "Angebot") # 
]

# Replace the NaN-Values
data_clean['vehicleType'].fillna(value='blank', inplace=True)
data_clean['gearbox'].fillna(value='blank', inplace=True)
data_clean['model'].fillna(value='blank', inplace=True)
data_clean['fuelType'].fillna(value='blank', inplace=True)
data_clean['notRepairedDamage'].fillna(value='blank', inplace=True)

# Change categorical attributes dtype to category

for col in data_clean:
    if data_clean[col].dtype == "object":
        data_clean[col] = cars_clean[col].astype('category')
        
# Assign codes to categorical attribues instead of strings

cat_columns = data_clean.select_dtypes(['category']).columns

data_clean[cat_columns] = cars_clean[cat_columns].apply(lambda x: x.cat.codes)
        
    
# Drop probably unuseful columns

drop_cols = ["dateCrawled", "abtest", "dateCreated", "nrOfPictures", "lastSeen"]

data_clean = data_clean.drop(drop_cols, axis=1)

TypeError: between() got an unexpected keyword argument 'inclusive'